
@{
    ViewData["Title"] = "Bingewatch";
}

@model UserViewModel

<div class="bg-primary m-1 p-1 text-white"><h4>User Accounts</h4></div>


@if (Model.Users.Count() + Model.Admins.Count() == 0)
{
    <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
}
else
{
    <h2>Roles: Admin and User.</h2>
    <h2>Admins:</h2>
    <table class="table table-sm table-bordered">
        <tr><th>ID</th><th>Name</th><th>Email</th></tr>
        @foreach (var admin in Model.Admins)
        {
            <tr>
                <td>@admin.Id</td>
                <td>@admin.UserName</td>
                <td>@admin.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@admin.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@admin.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <h2>Users:</h2>
    <table class="table table-sm table-bordered">
        <tr><th>ID</th><th>Name</th><th>Email</th></tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}




