
@{
    ViewData["Title"] = "Bingewatch";
}
@model Movie
@inject ApplicationDbContext context

    <div>
        <div class="d-inline-block align-top">
            <img class="d-inline" src="@("/api/images?name=" + Model.ImageUrl)" alt="..." width="200">
        </div>
        <div class="d-inline-block align-top" style="max-width:500px;">
            <h2>@Model.Title</h2>
            <h5>@context.Genres.Where(g => g.Id == Model.GenreId).FirstOrDefault().Name | @Model.Rating | @(DateTime.Parse(Model.ReleaseDate).Year)</h5>
            <h5>@Model.Description</h5>
        </div>
        <div class="justify-content-center">
            <iframe width="600" height="400" src="@Model.VideoUrl"></iframe>
        </div>
    </div>

